/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--dark-grey: hsl(30, 0%, 13%);
--grey: hsl(30, 0%, 33%);
--light-grey: hsl(30, 0%, 67%);
--copper: hsl(115, 70%, 70%);
--light-copper: hsl(115, 35%, 70%);
--blue: hsl(195, 33%, 67%);
--dark-blue: hsl(195, 67%, 33%);
--black: hsl(30, 0%, 8%);
--white: hsl(30, 0%, 90%);
}

body {
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--white);
    line-height: 1.8em;
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
    margin:auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: var(--light-copper);
}
a:hover, a:active {
    color: var(--copper);
}

.card {
    background-color: var(--dark-grey);
    border-radius: 10px;
    margin: 2.5%;
}

.instructions.card,
.contents.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2.5%;
}


.picture.card {
    background-color: var(--black);
}


h1 {
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0.5em;
    margin-top: 1em;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    margin-top: 1em;

}

h3 {
    font-weight: 300;
    font-size: 1.25em;
    letter-spacing: 0.5rem;
    color: var(--copper);
    margin-top: 0em;
    margin-bottom: 1em;
}

li {
    margin-top: 0;
    margin-bottom: 1em;
}

.navigation {
    text-align: center;
    margin:1em;
    letter-spacing: 0.5rem;
}

.logo {
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    vertical-align:-0.67em;
    fill: var(--white);
}

.logo:hover {
    fill: var(--light-copper);
}


